.functionalities {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.inputFunc {
    max-width: 350px;

}

.inputFunc input {
    font-size: 13px;
}

.formModal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.error-message {
    display: none;
}

.showError {
    display: flex;
    position: absolute;
    color: var(--color3);
    font-family: var(--paragraph-text);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.3s ease-in-out;
}

.error-message.showMessage {
    opacity: 1;
}

.hide-number-arrows::-webkit-inner-spin-button,
.hide-number-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tdBtn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.d-flex {
    align-items: center;
}

.fun-btn-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.p-title {
    font-size: 12px;
    font-family: var(--paragraph-text);
    font-weight: 100;
}

.none {
    display: none !important;
}

.listClient {
    border: 2px solid var(--first-color);
    position: absolute;
    background: var(--body-color);
    cursor: pointer;
    text-align: start;

}

.listClient option:hover {
    background: lightblue;
}

.dateSaldoCero {
    font-size: 13px;
}

.dateRed {
    background: #ff00195e;
    font-size: 13px;
}

.dateRedBorder {
    border: 2px solid #ff00195e;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.dateYellow {
    background: rgb(236, 209, 7);
    font-size: 13px;
}

.dateYellowBorder {
    border: 2px solid rgb(236, 209, 7);
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.dateGreen {
    background: var(--color2);
    font-size: 13px;
}

.dateGreenBorder {
    border: 2px solid var(--color2);
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

:root {
    /*========== Colors ==========*/
    /* --nave: url(https://www.flaticon.es/download/icon/2285537?icon_id=2285537&author=427&team=427&keyword=lanzadera&pack=2285527&style=0&style_id=6&format=png&color=%23000000&colored=2&size=512&selection=1&premium=0&type=standard); */
    --color1: #4582EC;
    --color2: #02B875;
    --color3: #C20114;
    --color4: #0C120C;
    --color5: #434843;
    --color6: #E7E7E7;

    --body-color: radial-gradient(#f3f5f5, #fffcf9);
    --body-color2: radial-gradient(#1d1f20, #000);

    --nav-color: #4582ec;
    --first-color: #4582ec;
    --secund-color: #6690CC;

    --button-color: #E7E7E7;
    --button-color-edit: #02B875;
    --button-color-delete: #C20114;

    --button-color-border: #4582EC;
    --hover: radial-gradient(#1d1f20, #000);

    --title-color: #0C120C;
    --title-text: 'EuropaNuova-ExtraBold', sans-serif;
    --title-secund-color: #6690CC;
    --title-secund-text: 'EuropaNuova-Bold', sans-serif;
    --paragraph-color: #434843;
    --paragraph-text: 'EuropaNuova-Regular', sans-serif;
    --text-color: #0C120C;
    --text-color-hover: #E7E7E7;

    --shadow: rgb(160, 160, 160);
    /*========== Se manejaran 3 tamanios max-width ==========*/
    --mobile: 780px;
    --tablet: 960px;
    --desktop: 1200px;
    /*========== Font and typography ==========*/
    --body-font: "Roboto", sans-serif;
}