.liquidationVeh-component {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "comp"
        "fact";
    overflow-x: scroll;
    overflow-y: hidden;
}

.liquidationVeh-listfac {
    grid-area: fact;
}

.liquidationVeh-liscompnent {
    grid-area: comp;
    display: flex;
    flex-direction: row;
}

